langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-groq==0.1.6
streamlit==1.32.2
python-dotenv
duckduckgo-search
arxiv
wikipedia
python-dotenv
pypdf
bs4
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
numpy
langchain_ollama
duckduckgo-search
pymupdf
arxiv 
wikipedia
mysql-connector-python
SQLAlchemy
youtube_transcript_api
unstructured
pytube
numexpr
sentence_transformers
ipykernel
langchainhub
validators==0.28.1
youtube_transcript_api